In [1]:
import pandas as pd

In [3]:
dendo = pd.read_excel("../data/dendogram_multilink_full.xlsx", header=None, names=["c1","c2","dist"])

In [4]:
dendo.head()

    c1   c2      dist
0  121  180  0.000442
1  113  114  0.011001
2   42   43  0.015096
3  119  120  0.022559
4    8  199  0.034158

In [5]:
n_data = 230
counter = dict()
point_count = []

for i in range(n_data+1):
    counter[i] = 1

for index, row in dendo.iterrows():
    counter[n_data +1  + index] = counter[row["c1"]] + counter[row["c2"]] 
    point_count.append(counter[n_data +1  + index])

point_count

[2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 3,
 2,
 3,
 2,
 4,
 2,
 3,
 2,
 2,
 3,
 3,
 2,
 6,
 2,
 4,
 2,
 2,
 5,
 3,
 2,
 3,
 2,
 2,
 3,
 3,
 8,
 4,
 3,
 2,
 3,
 4,
 2,
 4,
 8,
 3,
 3,
 2,
 2,
 8,
 4,
 3,
 11,
 5,
 11,
 13,
 2,
 4,
 3,
 2,
 2,
 2,
 2,
 6,
 3,
 3,
 9,
 4,
 2,
 5,
 5,
 4,
 4,
 2,
 11,
 3,
 16,
 2,
 6,
 2,
 6,
 17,
 18,
 2,
 12,
 3,
 3,
 22,
 2,
 3,
 21,
 2,
 4,
 2,
 3,
 14,
 25,
 3,
 11,
 23,
 24,
 17,
 18,
 5,
 2,
 9,
 5,
 2,
 27,
 4,
 15,
 26,
 27,
 2,
 28,
 11,
 3,
 55,
 4,
 56,
 57,
 61,
 5,
 19,
 19,
 12,
 3,
 3,
 2,
 3,
 14,
 15,
 2,
 3,
 4,
 16,
 17,
 62,
 3,
 4,
 4,
 4,
 8,
 9,
 22,
 8,
 63,
 5,
 9,
 7,
 10,
 2,
 10,
 11,
 8,
 4,
 23,
 8,
 11,
 25,
 18,
 26,
 2,
 2,
 27,
 3,
 37,
 48,
 2,
 52,
 26,
 54,
 53,
 55,
 60,
 2,
 54,
 3,
 64,
 3,
 2,
 55,
 62,
 2,
 2,
 2,
 2,
 2,
 2,
 3,
 3,
 2,
 4,
 3,
 2,
 2,
 3,
 2,
 3,
 3,
 2,
 2,
 3,
 2,
 6,
 4,
 6,
 9,
 2,
 119,
 123,
 125,
 12,
 65,
 67,
 69,
 14,
 72,
 20,
 127,
 22,
 149,
 221,
 225,
 228,
 230]

In [6]:
dendo["n_points"] = point_count

In [8]:
dendo.to_excel("../data/dendogram_enanched.xlsx")